@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main .populares h2, main .medidas h2 {
  font-size: 5rem;
  text-align: center;
  color: black;
  margin-bottom: 3.125rem; }

* {
  margin: 0;
  padding: 0; }

body {
  /* background-color: #E9E9D0; */
  background-color: #CECEB5;
  font-family: 'Montserrat', sans-serif; }

header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover; }
  header h1 {
    text-align: center;
    font-size: 620%;
    padding-top: 1.875rem; }
  header .navbar {
    background-color: #333;
    font-size: 1.5625rem;
    margin-top: 3.125rem; }
  header .menu li a {
    color: white; }
    header .menu li a:hover {
      color: green; }

main {
  font-size: 1.5625rem; }
  main div div div img {
    height: 31.25rem;
    object-fit: none; }
  main .populares {
    padding-top: 1.25rem;
    margin: auto; }
    main .populares .card-cont {
      padding-bottom: 1.25rem; }
      main .populares .card-cont .card .card-img-top {
        height: 31.25rem;
        object-fit: cover; }
      main .populares .card-cont .card .card-body {
        background-color: #3f7c17; }
        main .populares .card-cont .card .card-body a {
          color: black;
          background-color: #3f7c17; }
  main .medidas {
    padding-top: 1.25rem;
    margin: auto; }

footer {
  max-width: 100%;
  background-color: #333;
  font-size: 1.25rem;
  margin-top: 3.125rem;
  grid-area: footer; }
  footer .footer {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    footer .footer .redSocial a {
      display: inline-block;
      padding: 0.9375rem 1.25rem;
      color: white;
      text-decoration: none;
      font-size: 2.5rem; }
    footer .footer .redSocial .twitter:hover {
      color: #1DABDD; }
    footer .footer .redSocial .facebook:hover {
      color: #3B5998; }
    footer .footer .redSocial .instagram:hover {
      color: #BC2A8D; }
  footer h3 {
    text-align: center;
    color: white;
    font-size: 2.1875rem; }
