@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  /* background-color: #E9E9D0; */
  background-color: #CECEB5;
  font-family: 'Dancing Script', cursive; }

header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover; }
  header h1 {
    text-align: center;
    font-size: 620%;
    padding-top: 1.875rem; }
  header .navbar {
    background-color: #333;
    font-size: 1.5625rem;
    margin-top: 3.125rem; }
  header .menu li a {
    color: white; }
    header .menu li a:hover {
      color: green; }

main {
  font-size: 150%; }
  main div div div img {
    height: 31.25rem;
    object-fit: fill; }
  main .populares {
    padding-top: 1.25rem;
    margin: auto; }
    main .populares h3 {
      text-align: center;
      color: black;
      margin-bottom: 3.125rem;
      font-size: 320%; }
    main .populares .card-cont {
      padding-bottom: 1.25rem; }
      main .populares .card-cont .card .card-img-top {
        height: 31.25rem;
        object-fit: cover; }
      main .populares .card-cont .card .card-body {
        background-color: #3F7C17;
        height: 10.625rem; }
  main .medidas {
    padding-top: 1.25rem;
    margin: auto; }
    main .medidas h3 {
      font-size: 320%; }
    main .medidas .balanza {
      height: 42.5rem;
      object-fit: cover; }

footer {
  max-width: 100%;
  background-color: #333;
  font-size: 1.25rem;
  margin-top: 3.125rem;
  grid-area: footer; }
  footer .footer {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    footer .footer .redSocial a {
      display: inline-block;
      padding: 0.9375rem 1.25rem;
      color: white;
      text-decoration: none;
      font-size: 2.5rem; }
      footer .footer .redSocial a:hover {
        color: green; }
  footer h3 {
    text-align: center;
    color: white;
    font-size: 2.1875rem; }
