header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        text-align: center;
        font-size: 620%;
        padding-top: 1.875rem;
    }
    .navbar {
        background-color: #333;
        font-size: 1.5625rem;
        margin-top: 3.125rem;
        
      }
      .menu{
        li{
            a{
                color: white;
                &:hover {
                    color: $color-hover;
                }
            }
        }
      }
  }